html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.main p,
h1,
h2,
h3,
h4 {
  margin: 0;
  color: inherit;
}

a {
  color: inherit;
}

.display-mob {
  display: none;
}

.span-right {
  margin-right: 5px;
}

.main-max-cont {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.body-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 425px) {
  .display-mob {
    display: flex;
    overflow: hidden;
  }
}
