$gutter: 20px;

.nav {
  border-bottom: 2px solid #0000001c;
  background: #fff;

  &__wrapper {
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 200px;
    height: auto;
  }
}

.hero {
  color: #fff;
  height: 250px;
  width: 100%;
  position: relative;

  &__wrapper {
    background-image: url(../images/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    font-weight: 500;
    font-size: 1.8rem;
  }

  &__spt-txt {
    margin: 1rem 0;
  }
}

.sidebar {
  position: relative;
  width: 27.5%;
  margin-right: 20px;

  &__wrapper {
    background-color: #fff;
    color: #000;
    z-index: 0;
    margin-bottom: 15px;
    padding: $gutter;
  }

  &__header {
    font-size: 1.3rem;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    padding-bottom: 20px;
  }

  &__sub-header {
    margin: 30px 0 15px 0;
    display: flex;
    align-items: center;

    &__icon {
      width: 0.9rem;
    }
  }

  &__filter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #00000036;
  }

  .filter__item {
    display: flex;
    padding: 15px 10px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 170px;

    &__header {
      font-size: 2.3em;

      &--sub {
        display: none;
      }
    }
  }

  // .sidebar {
  //   display: none;
  // }
}

@media only screen and (max-width: 425px) {
  .nav {
    &__wrapper {
      padding: 14px 1.5%;
    }
  }

  .hero {
    height: 170px;

    &__header {
      font-size: 2em;
    }

    &__spt-txt {
      display: none;
    }
  }

  .main {
    padding-top: 0px;
  }
}