.nav {
  border-bottom: 2px solid #0000001c;
  background: #fff;

  &__wrapper {
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 200px;
    height: auto;
  }
}

.hero {
  color: #fff;
  width: 100%;
  position: relative;
  
  &__container {
    padding-left: 0px ;
    padding-right: 0px;

    @include respond-to("medium") {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  &__wrapper {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $gutter;
    background-image: url(../images/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-to("medium") {
      height: 250px;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: $gutter / 4;
  }

  &__sub-header {
    display: none;
    font-weight: 400;
    font-size: 1.5rem;

    @include respond-to("medium") {
      display: block;
    }
  }

  &__header-tagline {
    display: none;
    margin: 1rem 0;

    @include respond-to("medium") {
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 170px;

    &__header {
      font-size: 2.3em;

      &--sub {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .nav {
    &__wrapper {
      padding: 14px 1.5%;
    }
  }

  .hero {
    height: 170px;

    &__header {
      font-size: 2em;
    }

    &__spt-txt {
      display: none;
    }
  }
}
