.card-cont {
  background-color: #fff;
  color: #000;
  padding: 25px 0;
  z-index: 0;
  margin-bottom: 15px;
}
.card-cont--ptr:hover {
  box-shadow: 1px 0 14px #00000021;
  transition: 0.2s;
}
.card-layout {
  display: flex;
}

.card-col-1 {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.card-col-2 {
  width: 42%;
}
.card-col-3 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.col-1-row-1 {
  position: relative;
  display: flex;
  align-content: flex-start;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 700;
}
.col-1-row-2 {
  text-align: center;
  font-size: 0.65rem;
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ptr-number {
  background: #1e47ba;
  color: #fff;
  padding: 0 13px;
  justify-content: center;
  height: 25px;
  display: flex;
  align-items: center;
}
.triangle-container {
  position: absolute;
  display: inline-block;
  left: -1px;
}
.triangle-left {
  width: 100%;
  height: 100%;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 26.4px solid #1e47ba;
  transform: rotate(180deg);
}
.triangle-right {
  width: 0;
  height: 100%;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 25px solid #0075ff;
  margin: 0 3px;
}
.ptr-logo {
  width: 60%;
  margin-bottom: 17px;
}
.ptr-stars {
  width: 42%;
  margin-bottom: 7px;
}
.ptr-star-stand-alone {
  width: 13px;
}
.ptr-number-text {
  margin-left: 14px;
  background: #0075ff;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
  height: 25px;
  display: flex;
  align-items: center;
}
.pos-relative {
  position: relative;
}
.col-2-row-1 {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.trophy-image {
  width: 18px;
}
.col-2-sub-h {
  font-size: 0.8rem;
  margin: 12px 0 !important;
}
.ptr-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
}
.ptr-list-item {
  display: flex;
  align-items: baseline;
  margin: 5px 0;
}
.image-tick-green {
  width: 10px;
}

.read-more-btn {
  background: #47bb4b;
  border: none;
  padding: 12px 25px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  z-index: 1;
}
.read-more-btn:hover {
  background: #3fa843;
}

.read-more-btn--light {
  background: none;
  border: 1px solid #47bb4b;
  color: #47bb4b;
  font-weight: 500;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 7px;
  min-width: 76px;
}

.visit-image {
  width: 12px;
  margin-left: 5px;
}
.col-3-link {
  text-decoration: none;
  color: #0176ff;
  font-size: 14px;
  margin: 9px 0;
  z-index: 1;
}

@media only screen and (max-width: 425px) {
  .card-layout {
    flex-direction: column;
  }

  .card-cont {
    padding: 0;
    margin: 0px 10px 10px 10px;
  }

  .card-col-1 {
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding: 7px 10px;
  }

  .card-col-row-1-mob {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-col-2 {
    flex-direction: row;
    width: 100%;
    padding: 0 15px 10px 15px;
  }

  .card-col-3 {
    flex-direction: row;
    width: 100%;
  }
}
